/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

 .heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 966px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    background-color: #f4f6fa;
    padding: 48px;
}

.heroInner {
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 20px;
}

.heroProjectTagline {
    color: #0d232f;
    font-family: Axiforma, sans-serif;
    font-size: 32px;
    margin: 0;
    white-space: nowrap;
}

@media screen and (min-width: 568px) {
    .heroProjectTagline {
        font-size: calc(32px + 16 * ((100vw - 568px) / (768 - 568)))
    }
}


/* Fixed maximum value above the maximum breakpoint */

@media screen and (min-width: 768px) {
    .heroProjectTagline {
        font-size: 62px;
    }
}

.heroTitleTextHtml b {
    color: var(--ifm-color-primary);
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        transform: scale(0.1) rotate(30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.heroLogo {
    animation-duration: 2s;
    animation-name: jackInTheBox;
    float: right;
    margin-top: 20px;
    padding: 0 20px 20px;
    max-width: 37%;
}

.heroLogo1 {
    animation-duration: 2s;
    animation-name: jackInTheBox;
    float: right;
    margin-top: 120px;
    padding: 0 20px 20px;
    max-width: 27%;
}

.indexCtas {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.indexCtasView {
    color: #07161f;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.indexCtasGetStartedButton {
    border: 2px solid var(--ifm-color-primary);
    display: inline-block;
    line-height: 1.2em;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 18px 45px;
}

.indexTryMeButton {
    border: 2px solid var(--ifm-color-primary);
    display: inline-block;
    line-height: 1.2em;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 8px;
    background-color: var(--ifm-color-primary);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 18px 45px;
}

.indexTryMeButton:hover {
    opacity: 0.8;
    color: white
}

.infoboxes {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

.infobox-header {
    font-size: 60px;
    font-family: Epilogue, sans-serif;
    color: var(--ifm-color-primary);
    font-weight: 700;
}

.infobox-desc {
    color: rgb(77, 91, 124);
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    max-width: 228px;
    width: 100%;
}

.features {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    width: 100%;
}

.featureImage {
    height: 200px;
    width: 200px;
}

.announcement {
    font-weight: bold;
    font-size: 24px;
    padding: 48px;
    margin: 0 auto;
    text-align: center;
}

.announcementDark {
    background-color: #20232a;
    color: #fff;
}

.announcementInner {
    margin: 0 auto;
    max-width: 768px;
}

@media only screen and (max-width: 768px) {
    .hero {
        padding-left: 20px;
        padding-right: 20px;
    }

    .heroInner {
        padding: 0;
    }

    .heroProjectTagline {
        color: #0D232F;
        font-size: 30px;
        text-align: center;
    }

    .heroLogo {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 100%
    }

    .indexCtas {
        justify-content: center;
    }

    .indexCtasGitHubButton {
        display: none;
    }

    .singupButton {
        width: 100%;
        margin-top: 10px;
    }

    .singupButton1 {
        width: 100%;
        margin-top: 10px;
    }
}

.singupButton {
    background-color: rgb(249, 250, 254);
    transition: all 0.2s ease 0s;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
    color: rgb(8, 27, 75);
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-right: 24px;
    padding: 12px 24px 12px 16px;
    width: 234px;
}

.singupButton-img {
    border-style: none;
}

.singupButton-span {
    margin-left: 16px;
}

.singupButton1 {
    background-color: var(--ifm-color-primary);
    box-shadow: rgb(8 27 75 / 35%) 0px 2px 0px;
    transition: all 0.2s ease 0s;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(8, 27, 75);
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 12px 24px;
    width: 234px;
}

/* App Store View Start */

@media screen and (min-width: 1260px) {
    .appStoreLayout {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1259px) {
    .appStoreLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



/* App Store View End */

/* AppStore Card View Start */

.appStoreCardView {
    position: relative;
    width: 320px;
    height: 450px;
    background: rgba(171, 171, 171, .1);
    border-radius: 20px;
    overflow: hidden;
    margin: 50px;
}

.appStoreCardView:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 83, 250, .4);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.appStoreCardView:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.appStoreCardView:after {
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
    color: rgb(18, 83, 250)
}

.appStoreCardImage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.appStoreCardView:hover .appStoreCardImage {
    top: 0%;
    transform: translateY(0%);
}

.appStoreCardImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    opacity: .8;
    border-radius: 10px;
}

.appStoreCardView:hover img{
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.appStoreCardContentBox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 1;
}

.appStoreCardView:hover .appStoreCardContentBox {
    height: 210px;
}

.appStoreCardView h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.appStoreCardContentBoxParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.appStoreCardView:hover .appStoreCardContentBoxParagraph {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.appStoreCardContentBoxParagraph h3 {
    margin-top: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 2px;
}

.appStoreCardContentBox a {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(18, 83, 250);
    color: #fff;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    outline: none;
    touch-action: manipulation;
}

.appStoreCardView:hover .appStoreCardContentBox a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.05s;
}

.appStoreCardContentBox a:hover {
    background: rgb(227, 232, 244);
    color: rgb(18, 83, 250);
}

/* AppStore Card View End */